/*===================================
GLOBAL CSS
====================================*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container{
  margin: 0 40px;
}

.clearfix {
  clear:both;
}

body, html {
 height: 100%;
 margin: 0;
}

.part {
  margin: 40px 0px;
}

.part h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}



/*===================================
HERO SECTION
====================================*/

.quote{
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 20%;
  z-index: 1;
  }

.author {
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 12px;
}

#down {
  margin-top: 40px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  background-color: none;
  margin: 7px auto 0 auto;
   -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
  transform: rotate(20deg);
  -webkit-animation: rotateplane 1.9s infinite ease-in-out;
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 4s;
  animation: rotateplane 1.9s infinite ease-in-out;
  animation-delay: 4s;
  animation-duration: 4s;

}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) rotate(45deg) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) rotate(45deg)  }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(0deg) rotate(45deg)  }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg) rotate(45deg) ;
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) rotate(45deg);
  } 50% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg) rotate(45deg) ;
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) rotate(45deg);
  } 100% {
    transform: perspective(120px) rotateX(0deg) rotateY(-179.9deg) rotate(45deg) ;
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(-179.9deg) rotate(45deg) ;
  }
}

/*===================================
STICKY NAV
====================================*/

.header, .nav {
  text-align: center;
  color: #fff;
}

.header {
  padding: 50px 0;
  background-color: #333;

}

.nav {
  padding: 25px 0;
  position: -webkit-sticky;
  top: 45px;
  z-index: 1;
}

.content {
  width: 600px;
  margin: 10px auto 100px;
}


.sticky {
  position: fixed;
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  background: #fff;
  opacity: 0.7;
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1.5s; /* Firefox < 16 */
      -ms-animation: fadein 1.5s; /* Internet Explorer */
       -o-animation: fadein 1.5s; /* Opera < 12.1 */
          animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}


.nav ul li {
  display: inline-block;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav_item {
  padding-right: 10px;
  vertical-align: 10px;
}

.margin_right{
  margin-right: 15px;
}

.margin_left{
  margin-left: 15px;
}


/*===================================
ABOUT SECTION
====================================*/

.about_section {
  height: 500px;
  background: #fff;
  margin-top: 120px;
}

.about_blurb {
  text-align: justify;
  margin: auto;
  width: 800px;
}

#motto {
  font-size: 2rem;
  margin-bottom: 9px;
}

.hi {
  font-size: 2.8rem;
  background: #f8f4f9;
}

#blurb {
  line-height: 2rem;
}

/*===================================
SKILLS SECTION
====================================*/

.skills_section {
  height: 500px;
}

.bar {
  height:20px;
  text-align:center;
  width: 400px;
  margin-bottom: 10px;
}

.level {
  height:20px;
  background: #585858;
  width: 80%;
}

.label {
  text-align: right;
  padding-right: 10px;
}


.thirty.start {
  width: 0px;
  background: #969696;
  -webkit-animation: thirty 2s ease-out forwards;
     -moz-animation: thirty 2s ease-out forwards;
      -ms-animation: thirty 2s ease-out forwards;
       -o-animation: thirty 2s ease-out forwards;
          animation: thirty 2s ease-out forwards;
}

@-moz-keyframes thirty {
    0% {
        width: 0px;
    }

    100% {
        width: 30%;
    }
}

@-webkit-keyframes thirty {
  0% {
      width: 0px;
  }

  100% {
      width: 30%;
  }
}


.fourty.start {
  width: 0px;
  background: #969696;
  -webkit-animation: fourty 2s ease-out forwards;
     -moz-animation: fourty 2s ease-out forwards;
      -ms-animation: fourty 2s ease-out forwards;
       -o-animation: fourty 2s ease-out forwards;
          animation: fourty 2s ease-out forwards;
}

@-moz-keyframes fourty {
    0% {
        width: 0px;
    }

    100% {
        width: 40%;
    }
}

@-webkit-keyframes fourty {
  0% {
      width: 0px;
  }

  100% {
      width: 40%;
  }
}


.fifty.start {
  width: 0px;
  background: #969696;
  -webkit-animation: fifty 2s ease-out forwards;
     -moz-animation: fifty 2s ease-out forwards;
      -ms-animation: fifty 2s ease-out forwards;
       -o-animation: fifty 2s ease-out forwards;
          animation: fifty 2s ease-out forwards;
}

@-moz-keyframes fifty {
    0% {
        width: 0px;
    }

    100% {
        width: 50%;
    }
}

@-webkit-keyframes fifty {
  0% {
      width: 0px;
  }

  100% {
      width: 50%;
  }
}

.sixty.start {
  width: 0px;
  background: #969696;
  -webkit-animation: sixty 2s ease-out forwards;
     -moz-animation: sixty 2s ease-out forwards;
      -ms-animation: sixty 2s ease-out forwards;
       -o-animation: sixty 2s ease-out forwards;
          animation: sixty 2s ease-out forwards;
}

@-moz-keyframes sixty {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    }
}

@-webkit-keyframes sixty {
  0% {
      width: 0px;
  }

  100% {
      width: 60%;
  }
}

.seventy.start {
  width: 0px;
  background: #969696;
  -webkit-animation: seventy 2s ease-out forwards;
     -moz-animation: seventy 2s ease-out forwards;
      -ms-animation: seventy 2s ease-out forwards;
       -o-animation: seventy 2s ease-out forwards;
          animation: seventy 2s ease-out forwards;
}

@-moz-keyframes seventy {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}

@-webkit-keyframes seventy {
  0% {
      width: 0px;
  }

  100% {
      width: 70%;
  }
}

.eighty.start {
  width: 0px;
  background: #969696;
  -webkit-animation: eighty 2s ease-out forwards;
     -moz-animation: eighty 2s ease-out forwards;
      -ms-animation: eighty 2s ease-out forwards;
       -o-animation: eighty 2s ease-out forwards;
          animation: eighty 2s ease-out forwards;
}

@-moz-keyframes eighty {
    0% {
        width: 0px;
    }

    100% {
        width: 80%;
    }
}

@-webkit-keyframes eighty {
  0% {
      width: 0px;
  }

  100% {
      width: 80%;
  }
}

.ninty.start {
  width: 0px;
  background: #969696;
  -webkit-animation: ninty 2s ease-out forwards;
     -moz-animation: ninty 2s ease-out forwards;
      -ms-animation: ninty 2s ease-out forwards;
       -o-animation: ninty 2s ease-out forwards;
          animation: ninty 2s ease-out forwards;
}

@-moz-keyframes ninty {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}

@-webkit-keyframes ninty {
  0% {
      width: 0px;
  }

  100% {
      width: 90%;
  }
}

.technical {
  float: left;
}

.personal {
  padding-top: 60px;
}

.personal h3 {
  margin-bottom: 20px;
}

.personal ul {
  overflow: hidden;
  margin: auto;
  text-align: center;
}

.personal ul li {
  background: #d9f8f9;
  overflow: hidden;
  text-align: center;
  padding: 20px 10px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 1.5rem;
  display: inline-block;
}

.slideUp{
  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  animation-duration: 3s;
  -webkit-animation-duration: 3s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(-8%);
  }
  65%{
    transform: translateY(4%);
  }
  80%{
    transform: translateY(-4%);
  }
  95%{
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50%{
    -webkit-transform: translateY(-8%);
  }
  65%{
    -webkit-transform: translateY(4%);
  }
  80%{
    -webkit-transform: translateY(-4%);
  }
  95%{
    -webkit-transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}


/*===================================
WORK SECTION
====================================*/

.work_section {
  overflow: hidden;
  height: 400px;
}

.boxwrapper {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.boxwrapper li{
  display: inline-block;
  list-style-type: none;
  padding: 0 15px;


}


.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-container, .front, .front2, .front3, .front4, .back {
  width: 200px;
  height: 200px;
  float: left;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .front2, .front3, .front4, .back{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}


.front {
  background: url(../images/smile_large.png) 0 50% no-repeat;
  background-size: 200px;
  z-index: 2;
}


.front2{
  background: url(../images/gp.png) 0 50% no-repeat;
  z-index: 2;
  background-size: 200px;
}

.front3{
  background: url(../images/artbattle.png) 0 50% no-repeat;
  z-index: 2;
  background-size: 200px;
}

.front4{
  background: url(../images/hb.jpg) 0 50% no-repeat;
  z-index: 2;
  background-size: 200px;
}

.back{
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front .name, .front2 .name, .front3 .name, .front4 .name {
  font-size: 2em;
  display: inline-block;
  background: rgba(33, 33, 33, 0.9);
  color: #f8f8f8;
  font-family: Courier;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 60px;
  left: 25%;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.05em #333;

  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

/*.back-logo {
  position: absolute;
  top: 40px;
  left: 90px;
  width: 160px;
  height: 117px;
  background: url(http://davidwalsh.name/demo/logo.png) 0 0 no-repeat;
}*/

/*.back-title {
  font-weight: bold;
  color: #00304a;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.05em #acd7e5;
  font-family: Courier;
  font-size: 2em;
}*/

.back p {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 20px;
  font-family: arial;
  line-height: 2em;
}

.back-title {
  font-weight: bolder;
  padding-bottom: 10px;
  font-size: 1.3rem;

}

.techs li {
  display: block;
}

.techs li a {
  text-decoration: none;
  color: #4f6885;
  font-weight: bold;
}

/*===================================
CONTACT SECTION
====================================*/

.contact_wrapper {
  margin-left: 30px;
}
.contact_items li {
  display: inline-block;
  margin-right: 10px;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
    position: fixed;
    top: 50%; /* or whatever position is desired */
    left: 0;
    right: 0;
    height: 0;
    /* center all inline content */
    text-align: center;
}

.container > h1 {
    /* make the block inline */
    display: inline-block;
    /* reset container's center alignment */
    text-align: left;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}
section.module p {
  font-size: 16px;
  font-weight: 300;
}

section.module.content {
  padding: 40px 0;
  position: relative;
  z-index: 2;
  background: #fff;
  width: 100%;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
section.module.parallax-1 {
 /* background-image: url("../images/sunset.jpg");*/
   background: -webkit-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* W3C */
  background-repeat: repeat;
  height: 100%;
  position: relative;
  z-index: 1;
}
section.module.parallax-2 {
  background-image: url("../img/demo/_small/2.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/demo/_small/3.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 40px;
  }
}


