/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body{
}

.container{
  margin: 0 40px;
}

.clearfix {
  clear:both;
}

.dashit {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}

.quote{
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 20%;
  /*top: 35rem;*/
/*  position: relative;*/
  z-index: 1;
  }

  .author {
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

.showspin {
  display: none;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  background-color: none;
  margin: 7px auto 0 auto;
   -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
  transform: rotate(20deg);
  -webkit-animation: rotateplane 1.9s infinite ease-in-out;
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 4s;
  animation: rotateplane 1.9s infinite ease-in-out;
  animation-delay: 4s;
  animation-duration: 4s;

}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) rotate(45deg) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) rotate(45deg)  }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(0deg) rotate(45deg)  }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg) rotate(45deg) ;
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) rotate(45deg);
  } 50% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg) rotate(45deg) ;
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) rotate(45deg);
  } 100% {
    transform: perspective(120px) rotateX(0deg) rotateY(-179.9deg) rotate(45deg) ;
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(-179.9deg) rotate(45deg) ;
  }
}

body, html {
 height: 100%;
 margin: 0;
}


.header, .nav {
text-align: center;
color: #fff;
}

.header, .nav {
text-align: center;
color: #fff;
}
.header {
padding: 50px 0;
background-color: #333;

}

.nav {
padding: 25px 0;
position: -webkit-sticky;
top: 45px;
z-index: 1;
}

.content {
width: 600px;
margin: 10px auto 100px;
}


.sticky {
    position: fixed;
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    background: #fff;
    opacity: 0.7;
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}


.nav ul li {
  display: inline-block;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav_item {
  padding-right: 10px;
  vertical-align: 10px;
}

.margin_right{
  margin-right: 15px;
}

.margin_left{
  margin-left: 15px;
}

.about_me {
  margin: 0 40px;
}

.photo img {
  width: 30%;
  float: left;
}

.about_blurb {
  overflow: hidden;
}

.about_blurb p {
  padding: 0 30px;
  margin-bottom: 15px;
}

.motto {
  font-size: 1.9rem;
}

#subsection {
  padding-right: 150px ;
}


.losange, .losange div {
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
}
.losange {
  transform: rotate(45deg) translateY(10px);
  float: left;
}
.losange .los1 {
  width: 355px;
  height: 355px;
  transform: rotate(-45deg) translateY(-74px);
}
.losange .los1 img {
  width: 100%;
  height: auto;
}

.personal {
  float: left;
}

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

  .flip-container:hover .flipper,
  .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

.flip-container, .front, .front2, .front3, .front4, .back {
  width: 300px;
  height: 300px;
  float: left;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .front2, .front3, .front4, .back{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background: url(../images/sickkids.jpg) -98px 0 no-repeat;
  z-index: 2;
}

.front2{
  background: url(../images/gp.png) 0 0 no-repeat;
  z-index: 2;
}

.front3{
  background: url(../images/artbattle.png) 0 0 no-repeat;
  z-index: 2;
}

.front4{
  background: url(../images/hb.jpg) 0 0 no-repeat;
  z-index: 2;
}

.back{
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);

  background: #f8f8f8;
}

.front .name, .front2 .name, .front3 .name, .front4 .name {
  font-size: 2em;
  display: inline-block;
  background: rgba(33, 33, 33, 0.9);
  color: #f8f8f8;
  font-family: Courier;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 60px;
  left: 25%;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.05em #333;

  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

/*.back-logo {
  position: absolute;
  top: 40px;
  left: 90px;
  width: 160px;
  height: 117px;
  background: url(http://davidwalsh.name/demo/logo.png) 0 0 no-repeat;
}*/

/*.back-title {
  font-weight: bold;
  color: #00304a;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.05em #acd7e5;
  font-family: Courier;
  font-size: 2em;
}*/

.back p {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 20px;
  font-family: arial;
  line-height: 2em;
}


/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
    position: fixed;
    top: 50%; /* or whatever position is desired */
    left: 0;
    right: 0;
    height: 0;
    /* center all inline content */
    text-align: center;
}

.container > h1 {
    /* make the block inline */
    display: inline-block;
    /* reset container's center alignment */
    text-align: left;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  position: relative;
  z-index: 2;
  background: #fff;
  width: 100%;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #000;
}
section.module.parallax-1 {
 /* background-image: url("../images/sunset.jpg");*/
   background: -webkit-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* W3C */
  background-repeat: repeat;
  height: 100%;
  position: relative;
  z-index: 1;
}
section.module.parallax-2 {
  background-image: url("../img/demo/_small/2.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/demo/_small/3.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 40px;
  }
}